@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300&display=swap');

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115vh;
    margin: 0 100px;
    font-family: 'Righteous';
}

.container{
    flex: 1;
}

.data{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.alert{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 2px 0 5px 0;
}

.select{
    width: 200px; /* Ajusta esto según tus necesidades */
    height: auto;
    overflow: auto;
}

.imagen{
    background-color: beige;
    flex: 1;
    width: 150px;
    height: 550px;
    border-radius: 25px;
}

.shakevertical:hover{
    animation:shake-vertical 0.8s linear both
} @keyframes shake-vertical{
    0%,100%{transform:translateY(0)
    }10%,30%,50%,70%{
        transform:translateY(-8px)
    }20%,40%,60%{
        transform:translateY(8px)
    }80%{
        transform:translateY(6.4px)
    }90%{transform:translateY(-6.4px)
    }
}

.botones{
    background-color: red;
    border: none;
    border-radius: 15px;
    font-family: 'Righteous';
    padding: 2px 12px;
    margin-right: 5px;
}

.botones:hover{
    cursor: pointer;
    background-color: #3D53A0;
    color: #FFCB05;
}